
<app-menu-select></app-menu-select>
<div class="menu-bar__contender">
    <div class="menu-bar__logo">
        <img 
           src="https://upload.wikimedia.org/wikipedia/commons/2/2b/PlayStation_Store.png" 
           alt="" 
           srcset=""
            width= "200px"
            height="42px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="">Novidades</a></li>
            <li><a href="">coleções</a></li>
            <li><a href="">ofertas</a></li>
            <li><a href="">Assinaturas</a></li>
            <li><a href="">Navegar</a></li>
        </ul>
    </div>



</div>
